@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

html,
body {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  color: #222;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

[type="file"] {
  background: unset;
  border-color: inherit;
  border-radius: 0;
  border-width: 0;
  font-size: unset;
  line-height: inherit;
  padding: 0;
}

input[type="file"]::file-selector-button {
  -webkit-margin-start: -1rem;
  -webkit-margin-end: 1rem;
  background: #fff;
  border: 1px solid rgb(209, 213, 219);
  color: rgb(55, 65, 81);
  cursor: pointer;
  font-size: .875rem;
  font-weight: 500;
  /*margin-inline-end: 1rem;*/
  /*margin-inline-start: -1rem;*/
  padding: .625rem 1rem .625rem 1rem;
}

/* Markdown content */
p a {
  @apply text-indigo-500 hover:underline
}

@tailwind base;
@tailwind components;
@tailwind utilities;